/*@media screen and (max-width: 1020px) {
  #main, #header, #page, #navigation, #footer, #sawir, #button{
    float: none;
    width: auto;
    margin-bottom: 13px;
    margin-top: auto;
    height: auto;
  }
 #subtitle, #share, #slider, #sidebar, #sawi, #saw{
    display:none;
 }
 #navigation{
 	margin-bottom: 100px;
 }
  p{ font-size: 2em; }
}*/
/*#header {
	
	float: top;
	width: auto;
	height: auto;
	background-size: 1150px 200px;
}*/
#top {
	background-color: gold;
	width: 100%;
	height: 20px;
}
#sawir {
	position: relative;
	height: 130px;
	width: 320.3px;
}
#sawi {
	position: relative;
	height: 130px;
	width: 320.3px;
}
#saw {
	position: relative;
	height: 130px;
	width: 320.3px;
}
#top_info {
	float: right;
	margin-right: 10px;
}