<!DOCTYPE html>
<html lang="en">
<head>
  <title>Amaano</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="body">

<style>

.container {
  width: 100%;
}
#body {
  width: 100%;
  padding-right: 0px;
}
.table-striped {
width: 100%
}

#left{
  margin-left: 400px;
}
.btn-primary {
  color: black;
  background-color: white;
}

#right {
  float: right;
  margin-right: 50px;
}
#icon {
  float: right;
}
.btn-default{
  color: blue;
}
#high {
  background-color: lightcoral;
}
</style>
<div class="container">
    <!-- <form>
        <input type="number" name="online" [(ngModel)]="online" placeholder="$$">
        <input type="submit" name="drop" value="Drop">
      </form><br /> -->
    <span class="btn-default">Overall Balance is: {{overall | currency:'USD':true:'1.2-2'}} </span>
  <h2>Amaano</h2>
  <form class="form-inline" (submit)="addEmployee()">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter First" name="first" [(ngModel)]="model.firstname">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Last" name="last" [(ngModel)]="model.lastname">
      </div>
      <div class="form-group">
          <label for="amount">Phone#:</label>
          <input type="text" class="form-control" id="amount" placeholder="Enter#" name="amount" [(ngModel)]="model.phone">
        </div>
    <!-- <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div> -->
    <button type="submit" class="btn btn-success">Register</button>
  </form> <hr />    
  

     
        <select class="btn-warning" name="value" [(ngModel)]="value">
          <option>All</option>
          <option>Nagative Balance</option>
        </select>
        <span class="btn-primary">Total: {{all | amFil:value |  currency:'USD':true:'1.2-2'}}</span><br />
  <input type="number" name="phone" class="btn-default" [(ngModel)]="phone" placeholder="Find by phone#">     
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone#</th>
        <th>Balance</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of amano | filter:phone | amfilter:value">
        <td>{{x.firstname}}</td>
        <td>{{x.lastname}}</td>
        <td>{{x.phone}}</td>
        <td *ngIf="0 > x.r_balance" id="high">{{x.r_balance | currency:'USD':true:'1.2-2'}}</td>
        <td *ngIf="x.r_balance >= 0">{{x.r_balance | currency:'USD':true:'1.2-2'}}</td>
        <td>
          <button class="btn-danger" (click)="delete(x.id)">Delete</button>
            <button routerLink="/update/{{x.id}}" class="btn-warning">Update</button>
            <button routerLink="transaction/{{x.id}}" class="btn-primary">Deposit/Withdraw</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>


