<html>
<head>
    <title>Balance Sheet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body id="body">

  <style>
    #form {
      width: 500px;
      float: left;
      border: solid;
    }
    #right{
      float: right;
    }
    #small {
      font-size: 10px;
    }
    #bold{
      font-weight: bold;
      color: blue;
    }
    .table {
      margin-left: 0px;
    }
  </style>
    <!-- <h2>balance Sheet</h2> -->
    <div class="columns">
        <ul class="price">
          <li class="header">Dayn</li>
          <li class="grey">Last 24hrs: ${{all[0]}}</li>
          <li> Last 7 days: {{all[1] | currency:'USD':true:'1.2-2'}}</li>
          <li> Last 1 Month: {{all[2] | currency:'USD':true:'1.2-2'}}</li>
        </ul>
      </div>
      
      <div class="columns">
        <ul class="price">
          <li class="header" style="background-color:#4CAF50">Amaano</li>
          <li class="grey">Last 24hrs: ${{all_am[0]}}</li>
          <li> Last 7 days: {{all_am[1] | currency:'USD':true:'1.2-2'}}</li>
          <li> Last 1 Month: {{all_am[2] | currency:'USD':true:'1.2-2'}}</li>
        </ul>
      </div>
      
      <div class="columns">
        <ul class="price">
          <li class="header">Cash</li>
          <li class="grey">Last 24hrs: ${{all_ca[0]}}</li>
          <li> Last 7 days: {{all_ca[1] | currency:'USD':true:'1.2-2'}}</li>
          <li> Last 1 Month: {{all_ca[2] | currency:'USD':true:'1.2-2'}}</li>
        </ul>
      </div>
<br />
<br />

<!-- <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.1 average based on 254 reviews.</p>
<hr style="border:3px solid #f1f1f1"> -->
<!-- <span class="heading">All Stats</span><br /> -->
<!-- <div class="row">
    <span>Dayn progress</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        <span class="sr-only">70% Complete</span>
      </div> 
       

      
</div>

   

  </div> -->

<br />
<hr />
  <table class="table">
      <tbody>
        <tr>
          <td>Description</td>
          <td>Amount</td>
        </tr> 
        <tr class="danger">
            <td>Initial</td>
            <td>{{balance[0] | currency:'USD':true:'1.2-2'}}</td>
          </tr>     
        <tr class="success">
          <td>Dayn</td>
          <td>{{balance[1] | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr class="danger">
          <td>Amano</td>
          <td>{{balance[3] | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr class="warning">
          <td>Expenses</td>
          <td>{{balance[9] | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr class="warning">
            <td>Droped from Hawala</td>
            <td>{{balance[2] | currency:'USD':true:'1.2-2'}}</td>
          </tr>
        <tr class="info">
          <td>Cash</td>
          <td>{{balance[4] | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr class="warning">
          <td>Pending Checks</td>
          <td>{{balance[5] | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr class="danger">
            <td>Deposited Checks</td>
            <td>{{balance[6] | currency:'USD':true:'1.2-2'}}</td>
          </tr>
        <tr class="success">
            <td>Approved Checks</td>
            <td>{{balance[7] | currency:'USD':true:'1.2-2'}}</td>
          </tr>
          <tr class="active">
              <td>Overall</td>
              <td>{{balance[8] | currency:'USD':true:'1.2-2'}}</td>
            </tr>
      </tbody>
    </table>
    <form id="form" class="form-inline" (submit)="initial_register()">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="initial" id="email" placeholder="Enter New Initial Amount" name="initial">
      </div>
      <button type="submit" class="btn btn-default">Update</button> <span id="small">*Drop your <span id="bold">initial</span> hawala deposit here</span>
    </form>

    <table class="table">
        
              
                <br />
                <thead>
                    
                  <tr>
                    <th>Date</th>
                    <!-- <th id="des">Description</th> -->
                    <th>Amount</th>
                    <th>Status</th>
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of cash">
                    <td>{{x.date * 1000 | date}}</td>
                    <!-- <td id="des">{{x.description}}</td> -->
                    <td>{{x.amount | currency:'USD':true:'1.2-2'}}</td>
                    <td>{{x.status}}</td>
                    <!-- <td>
                        <button (click)="delete_ca(x.id)" class="btn-danger">Delete.</button>
          
                        <button *ngIf='!id' routerLink="up/{{x.id}}" class="btn-warning">Update</button>
                    </td> -->
                  </tr>
                </tbody>
              </table>

              <form id="form" (submit)="reset()">
                <h3></h3>
                  <div class="container">
                    <input type="password" placeholder="Enter Password" name="uname" [(ngModel)]="localUser.password"  required>
                    <input type="password" placeholder="Confirm Password" [(ngModel)]="localUser.confirm_password"  name="psw" required>
                    <span *ngIf="localUser.password !== localUser.confirm_password">Your Passwords should match please</span>
                        
                    <button type="submit">Update</button>
                    <p id="small">*Please make sure that your passwords match</p>
                  </div>
                  <br />
                </form>
                <br />
                <button id="right" (click)="pdf()">Export PDF</button>
</body>
</html>
