/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
  	body{
  
}
*/

html { height: 1000px; width: 100%; }
body {
  background: #303030;
  width: 900; height: 100%; 
  margin: 0 auto; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13px; line-height: 15px;
 
}
img { border: none; }
a { color:black; }
a:hover { color: springgreen; }
	
#header { 
	height: 150px; 
	margin: 0; padding: 0; text-align: left;
	background-image: url(logo.png);
	background-size: 610px 150px;
	background-repeat: no-repeat;
	background-color: lightblue;

		
}
#header_inf{
	margin-top: 30px;
	float: right;
	width: 260px;
	text-align: left;
}
#contanct_colored {
	color: blue;
	text-underline-position: all;
}
#header h1 { padding: 1em; margin: 0; }
#main { 
	height: 100%; width: 900px; 
	margin: 0; padding: 0; 
	background-color: antiquewhite;
}
#footer { 
	clear: both;
	height: 2em; margin: 0; padding: 1em; 
	text-align: center; 
  	background-color: lightgreen;
  	color: blue;
 
}

/* Navigation */
#navigation { 
	float: left;
	width: 170px; height: 100%; 
	margin: 0; padding: 0 2em; 
	background-color: antiquewhite;
	margin-left: 0px;
	padding-left: 0px;
	margin-top:auto;
	color:black;
}

#page {
	float: right;
	width: 700px;
	height: 100%;
	text-align: left;
	margin-right: 2px;
	background-color: antiquewhite
}

#kow {
	padding-left: 15px;
	color: black;
	
}
#sagaal {
	float: left;
	padding-top: 0px;
	color: brown;
	font-size: 11;
}
#form {
	width: 300px;
	background-color: bisque;
	text-align: left;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 70px;
	margin-top: 150px;
	position: absolute;
	color: white;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    background:black;
    background:rgba(0,0,0,0.7);

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
	
}
#form:hover {
	transform: scale3d(1.1, 1, 1);
}
#forme {
	width: 300px;
	background-color: bisque;
	text-align: left;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;

	margin-left: 25px;
	margin-top: 15px;
	position: absolute;
	color: white;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    background:black;
    background:rgba(0,0,0,0.7);

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
	
}
#forme:hover {
	transform: scale3d(1.1, 1, 1);
}
#mid {
	float: right;
}
#labo {
	float: right;
}
#sadex {
	float: right;
}
#afar {
	float: right;
}
#shan {
	float: right;
}

#wrong { 
	height: 1000px; width: 900px; 
	margin: 0; padding: 0; 
	text-align: center;
}
#error {
	color: red;
}
#success {
	color: green;
}
#login {
	color: green;
}
#log {
	color: greenyellow;
}

#tables {
	float: left;
	padding-right: 67px;
	background-color:cadetblue;
}
#table {
	float: left;
	padding-right: 67px;
	background-color:cadetblue;
}
#name {
	width: 170px;
}
#amount {
	width: 130px;
}
#price {
	width: 105px;
}
#regis {
	width: 125px;
}
#date {
	width: 100px;
}
#for {
	margin-top: 5px;
	margin-left: 340px;
	width: 300px;
	background-color: bisque;
	text-align: left;
	padding-left: 20px;
	padding-right: 33px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: absolute;
	color: white;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    background:black;
    background:rgba(0,0,0,0.7);

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
}

#daa {
	background-color: burlywood;
}
#fore {
	margin-top: 5px;
	margin-right: 400px;
	width: 300px;
	background-color: bisque;
	text-align: left;
	padding-left: 30px;
	padding-right: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	position: absolute;
	color: white;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    background:black;
    background:rgba(0,0,0,0.7);

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
}

#input {
	height: 175px;
}

#output {
	height: 700px;
}
#phone {
	width: 140px;
	background-color: aliceblue;
	text-align: left;
}
#name {
  background-color: azure;
	text-align: left;
	
}
#date {
  background-color: azure;
	width: 100px;
	text-align: left;
}
#x_amount {
	width: 70px;
	background-color: azure;
}
#paid {
	width: 70px;
	text-align: center;
	background-color: azure;
}
#export {
	width: 100px;
	text-align: center;
	background-color: azure;
	float: right;
}
#balan {
	width: 150px;
	text-align: center;
	background-color: azure;
	float: right;
}
#registery {
	width: 70px;
	text-align: center;
	background-color: burlywood;
}
#bal {
	width: 70px;
	background-color: aqua;
	float: right
}
#bale {
	width: 70px;
	background-color: aqua;
	margin-left: 550px;
}
#table_u {
	width: 10px;
}

#note {
	width: 300px !important;
	height: 100px !important;
	text-align: inherit;
}
#phone_d {
	width: 140px;
	background-color: burlywood;
	text-align: left;
}
#name_d {
  background-color:burlywood;
	
}
#date_d {
  background-color:burlywood;
	
	width: 100px;
}
#x_amount_d {
	width: 70px;
	background-color:burlywood;
	
}
#paid_d {
	width: 70px;
	text-align: center;
	background-color:burlywood;
	
}
#bal_d {
	width: 70px;
	background-color:burlywood;
	
	float: right
}
#button {

	background-color: yellow;
	width: 150px;
}
#barcode {
	margin-top: 15px;
	background-color: grey;
}
#cart_total {
	width: 200px;
	height: 50px;
	float: right;
	margin-right: 15px;
	background-color: green;
	color: white;
	text-align: center;
	padding-top: 30px;
}

#font {
	margin-top: 20px;
}
#clear {
	margin-top: 25px;
	width: 200px;
	height: 50px;
}
#receipt {
	background-color: #F0F8FF;
	width: 300px;
	margin-left: 15px;
	margin-top: 15px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#product_name{
	float: left;

}
#product_total{
	float: right;
}

#daymo {
	float: right;
}

#sidaas {
	background-color: black;
}

#pagination {
	width: 650px;
	height: 20px;
	background-color: yellow;
}
#backward {
	float: left;
}
#forward {
	float: right;
}
#outpute {
	margin-top: 500px;
}
#cu {
	width: 500px;
}
#info {
	width: 
	background-color: blue;
}
#under {
}
#dhinac {
	float: right;
}

/* <td id="table">Date</td>
	<td id="name">Name</td>
	<td id="phone">Phone</td>
	<td id="x_amount">Amount</td>
	<td id="paid">Paid</td>
	<td id="bal">Balance</td>