/* Site Colors:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { height: 100%; width: 100%; }
body {
  width: 900; height: 100%; 
  margin: 0 auto; padding: 0; border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13px; line-height: 15px;
 
}
img { border: none; }
a { color:black; }
a:hover { color: springgreen; }
	
#header { 
	height: 60px; 
	margin: 0; padding: 0; text-align: left;
    background-color: lightgreen;
	background-size: 910px 200px;
	background-repeat: no-repeat;

		
}
#header h1 { padding: 1em; margin: 0; }
#main { 
	height: 100%; width: 900px; 
	margin: 0; padding: 0; 
	background-color: 
}
#footer { 
	clear: both;
	height: 2em; margin: 0; padding: 1em; 
	text-align: center; 
  	color: blue;
    background-color: antiquewhite;
 
}

/* Navigation */
#navigation { 
	float: left;
	width: 848px; height: 50px; 
	margin: 0; padding: 0 2em; 
	background-color: lightgray;
    color: white;
}

#page {
	float: right;
	width: 100%;
	height: 1000px;
	text-align: left;
    background-color: green
}

#button {
    width: 90px;
    height: 30px;
}
#form {
    width: 300px;
	background-color: lightgreen;
	text-align: left;
	padding-left: 100px;
	padding-right: 140px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	position: absolute;
	color: black;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    background:
    background:

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
}
#forme {
    width: 350px;
	background-color: lightgreen;
	text-align: left;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	float: right;
	color: black;
	transition: all .7s ease-in-out;
	transform-style: preserve-3d;

    
    background:

    filter:blur(0px);
    -o-filter:blur(0px);
    -ms-filter:blur(0px);
    -moz-filter:blur(0px);
    -webkit-filter:blur(0px);
}
#field {
    float: right;
    background-color: aqua;
    width: 200px;
}
#fiel {
    float: right;
    background-color: azure;
    width: 120px;
}
#table {
    margin-left: 100px;
    background-color: antiquewhite;
}
#awb {
   width: 170px; 
}
#length {
   width: 70px; 
}
#width {
    width: 70px; 
}
#height {
    width: 70px; 
}
#quantity {
    width: 80px; 
}
#weight {
    width: 150px; 
}
#output {
    margin-top: 300px;
    color: white;
}
#cus {
    width: 300px;
    height: 80px;
}
#info {
    float: right;
    color: black;
}
#cu {
    width: 200px;
}
#    margin-top: 300px;
}
#clear {
    float: right;
    color: black;
}